.jumbotronGaleriContainer {

   @media only screen and (min-width: 500px) {
      // font-size: 3.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // @media only screen and (min-width: 768px) {

   // }

   // @media only screen and (min-width: 1024px) {

   // }

   .galeriHeading{
      font-size: 2.9rem;
      @media only screen and (min-width: 500px) {
         font-size: 3.9rem;
      }
   
      @media only screen and (min-width: 768px) {
         font-size: 4.9rem;
      }
   
      @media only screen and (min-width: 1024px) {
         font-size: 5.9rem;
      }
   }

   .galeriDesc{
      font-size: 1.1rem;
      @media only screen and (min-width: 500px) {
         font-size: 1.1rem;
      }
   
      @media only screen and (min-width: 768px) {
         font-size: 1.2rem;
      }
   
      @media only screen and (min-width: 1024px) {
         font-size: 1.2rem;
      }
   }

	.galeriJumbotron {
		max-width: 550px;
		width: 100%;

      @media only screen and (min-width: 500px) {
         min-width: 300px;
      }

      @media only screen and (min-width: 1000px) {
         min-width: 300px;
         margin-top: 200px;
         margin-left: 3rem;
      }
	}


}

.vector{
   transform: scaleX(-1);
   // border: 1px solid yellow;
   position: absolute;
   bottom: -1px;
   right: 0;
   max-width: 250px;
   z-index: 0;

   @media only screen and (min-width: 500px) {
      transform: scaleX(1);
      left: 0;
      max-width: 320px;
   }
}